
*.xcworkspacedata
*.xcworkspacedata
*.xcworkspacedata
Flash Chat iOS13.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Flash Chat iOS13.xcodeproj/project.xcworkspace/xcuserdata/geetanshatrey.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
Flash Chat iOS13.xcodeproj/project.xcworkspace/xcuserdata/geetanshatrey.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
